/* Navbar */
nav {
  gap: 2px;
  li {
    list-style: none;
    background: rgb(146, 248, 78);
    transition: 0.3s;
    &:hover {
      background-color: salmon;
    }
    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-weight: bold;
      text-shadow: 1px 1px #fff1f1;
      padding: 10px 20px;
      display: inline-block;
      &:hover::after {
        content: "*";
        border-bottom: 10px solid black;
        height: 10px;
        width: 10px;
      }
    }
  }
}
