<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Testimonials</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- section -->
    <section>
      <div class="container fullscreen">
        <div class="flex-row">
          <!-- icon box -->
          <div class="flex-col flex-item icon-box">
            <img class="testimoinal-thumbnail" src="user.jpg" alt="" />
            <h3>This is a title</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint
              soluta architecto unde aperiam exercitationem! Necessitatibus nam
              quam, corrupti facere cumque libero totam tempore, voluptate natus
              beatae deserunt veritatis in quas! Aliquid quo asperiores
              exercitationem pariatur modi commodi totam veritatis officia?
              Ratione, voluptatem! Officiis quis laborum, ratione temporibus,
              ullam ad harum quasi maxime assumenda earum, cumque consectetur
              pariatur rerum? Harum, iure.
            </p>
            <div class="details">
              <p class="name">John Doe <span class="title">LGCH</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section -->
  </body>
</html>
