<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- section -->
    <section>
      <div class="container">
        <div class="flex-row">
          <div class="flex-col left">
            <div class="flex-row">
              <div class="flex-col flex-item">left top</div>
            </div>
            <div class="flex-row">
              <div class="flex-col flex-item">bottom left</div>

              <div class="flex-col flex-item">bottom right</div>
            </div>
          </div>

          <div class="flex-col flex-item right">
            <div class="flex-item">right</div>
          </div>
        </div>
      </div>
    </section>
    <!-- section -->
    <section>
      <div class="container">
        <div class="flex-row">
          <div class="flex-col flex-item left">
            <div class="flex-item">right</div>
          </div>
          <div class="flex-col right">
            <div class="flex-row">
              <div class="flex-col flex-item">bottom left</div>

              <div class="flex-col flex-item">bottom right</div>
            </div>
            <div class="flex-row">
              <div class="flex-col flex-item">left top</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
