$bodyFont: "Raleway", sans-serif;
$headingFont: "Source Sans Pro", Helvetica, sans-serif;
$border: 1px solid rgb(212, 212, 212);
$darkColor: #3c3b3b;
// Site styles

@mixin thin {
  font-family: $bodyFont;
  font-weight: 300;
  letter-spacing: 0.25em;
  line-height: 2.5;
}

@mixin fat {
  font-family: $headingFont;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 1.65;
}
@mixin smallpic {
  width: 40px;
  border-radius: 50%;
}

@mixin gap {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@mixin box {
  background-color: white;
  border: $border;
}
body {
  padding: 0;
  margin: 0;
  font-family: $bodyFont;
  color: $darkColor;
  .container {
    max-width: 1200px;
    margin: auto;
    font-family: lato;
    font-size: 20px;
  }
  section {
    margin-bottom: 10px;
  }

  .flex-row {
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .flex-col {
    width: 100%;
    @include gap;
  }
  .flex-item {
    // justify-content: center;
    align-items: flex-start;
    @include gap;
    min-height: 100px;
  }

  .flex-col.flex-item.right,
  .flex-col.flex-item.left {
    width: 50%;
  }
  .button {
    border: 2px solid;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: gray;
      color: white;
    }
  }
  .fullscreen {
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: rgb(179, 22, 22);
  }
  a:hover {
    opacity: 0.5;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

body.future-imp {
  // global properties
  font-size: 16px;

  .featured-image {
    width: 100%;
    height: auto;
    border: 5px solid;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    &.name {
      font-weight: 600;
      font-size: 18px;
    }
    .title {
      font-size: 16px;
      opacity: 0.5;
    }
  }
  .hr {
    border-bottom: $border;
    width: 100%;
    margin: 40px 0;
  }
  // .button {
  // }

  /* Header Section */
  header {
    border-bottom: $border;
    font-family: $headingFont;
    letter-spacing: 0.25em;
    .header-row {
      justify-content: space-between;
      margin: 0;
      .flex-col {
        align-items: center;
      }
    }

    .left-group {
      display: flex;
      font-size: 0.7em;
      text-transform: uppercase;
      .site-logo {
        margin-right: 20px;
        padding: 20px;
        justify-content: center;
        border-right: $border;
        a {
          display: inline-block;
          letter-spacing: 4px;
          font-weight: 800;
        }
      }
      nav {
        flex-direction: row;
        gap: 20px;
        li {
          border-right: $border;
        }
        a {
          padding-right: 15px;
          font-weight: 300;
          font-family: $headingFont;
          color: #646464;
        }
      }
    }
    .right-group {
      a {
        padding: 20px;
        display: inline-block;
        &:first-child {
          border-right: $border;
          border-left: $border;
        }
      }
    }
  }

  section.page-content {
    background-color: #f4f4f4;
    padding: 60px 20px;
    .sidebar-col {
      width: 30%;
      // background: aqua;
      .author-info {
        img {
          width: 70px;
        }
        h2 {
          @include fat;
          font-size: 35px;
        }
        p {
          @include thin;
          font-size: 13px;
        }
      } // .author-info

      .post-s1-group {
        @include gap;
        gap: 40px;
      }
      .post-s1-list {
        @include box;

        .footer {
          display: flex;
          justify-content: space-between;
          padding: 14px;
          h3 {
            @include fat;
            margin-top: -15px;
            a {
              font-size: 11px;
              color: $darkColor;
              cursor: pointer;
            }
          }
          p {
            @include thin;
            font-size: 10px;
          }
          .right {
            img {
              @include smallpic;
            }
          }
        }
      }
      .post-s2-list {
        .footer {
          display: flex;
          justify-content: space-between;
          padding: 14px;
          .left {
            img {
              @include smallpic;
            }
          }

          .right {
            width: 75%;
            h3 {
              @include fat;
              margin-top: -15px;
              a {
                font-size: 11px;
                color: $darkColor;
                cursor: pointer;
              }
            }
            p {
              @include thin;
              font-size: 10px;
            }
          }
        }
      }
    }
    .content-col {
    }
  }
}
